@font-face {
    font-family: 'Acumin Pro';
    src: url('./fonts/GerhanaMatahari-gxWvY.otf') format('woff2'),
         url('./fonts/GerhanaMatahari-gxWvY.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    box-sizing: border-box;
    display: grid;
    place-items: center;
    font-family: 'Acumin Pro', Helvetica, sans-serif;
    font-size: large;
    background-image: url(./images/cape.webp);
    background-size: cover;
    background-repeat: no-repeat;
}



.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 15px;
    width: 50%;
    height: fit-content;
    padding: 40px;
    height: fit-content;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(15px);
    color: black;
    border-radius: 10px;
}

.top{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.bottom{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-self: center; */
    gap: 15px;
}

p{
    margin-bottom: -15px;
}

.eg{
    margin-bottom: 20px;
}

.reg-input, select{
    width: 70%;
    font-family:'Acumin Pro', Helvetica, sans-serif;
    padding: 6px;
}

.add-btn, .clear-btn, .filter-btn{
    width: 20%;
    font-family: 'Acumin Pro', Helvetica, sans-serif;
    padding: 4px;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 6px;
}

.btns{
    display: flex;
    gap: 17px;
    padding: 6px;
}

.plates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.plates .item{
    width: 120px;
    height: 25px;
    border: 2px solid black;
    background-color: lightgrey;
    color: black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error{
    color: red;
    margin-bottom: 10px;
    display: none;
}


